<h1>Welcome to Rails Ledger!.</h1>

<%= link_to "Log in", new_user_session_path, class:"notlogged-btn signin" %>
<%= link_to "Create account", new_user_registration_path, class:"notlogged-btn create" %>
