<div id="<%= dom_id record %>">
  <p>
    <strong>Name:</strong>
    <%= record.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= record.amount %>
  </p>

  <p><%= record.created_at.strftime('%d %b %Y') %></p>
</div>
