<div id="<%= dom_id record %>">
  <p>
    <strong>Name:</strong>
    <%= record.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= record.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= record.user_id %>
  </p>

</div>
