/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Proxi-Light';
  src: url('Proxima_Nova_Alt_Light.otf');
}

@font-face {
  font-family: 'Proxi-Bold';
  src: url('Proxima_Nova_Bold.otf');
}

body {
  font-family: 'Proxi-Bold', Arial, Helvetica, sans-serif;
  background: #f3f1f1;
  margin: 0;
}

h1,
h2 {
  color: #fff;
  text-align: center;
}

strong {
  color: #434b54;
}

a {
  text-decoration: none;
  color: #a9a9a9;
}

hr {
  width: 96%;
}

input[type="file"] {
  color: #fff;
  background: #5fb523;
  border: 1px solid;
  padding: 2%;
}

.flex {
  display: flex;
}

h1,
h2,
.complete-width {
  width: 100%;
}

.complete-width {
  line-height: 1px;
}
